* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    height: 100px;
    background-color: #000;
}

.header {
    height: 100px;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logotipo {
    height: 80px;
    width: 80px;
    background-color: #b28756;
    border-radius: 50%;
}

.menu {
    flex: 1;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.menu ul,
.menu li,
.menu ul li a {
    list-style: none;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    height: 100px;
    column-gap: 20px;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu ul li a:hover,
.menu ul .active a {
    border-bottom: 5px solid #b28756;
    color: #ccc;
}

.menu ul {
    display: flex;
}

.banner {
    background-color: #ccc;
    height: calc(100vh - 100px);
    background-image: url('images/bg.jpg');
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders {
    height: 100%;
    width: 1000vw;
}

.banner .slider {
    height: 100%;
    width: 100vw;
    display: inline-block;
    color: white ;
    background-color: rgba(0, 0, 0, 0.7);
}
.slide-area{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
}
.banner h2{
    text-transform: uppercase;
}
.banner span{
    color: #b28756;
}
.banner button{
    padding: 10px 30px;
    background-color: #b28756;
    border-radius: 30px;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.banner .sliders-pointer{
    height: 20px;
    width: 100vw;
    position: absolute;
    margin-top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}
.banner .pointer{
    width: 20px;
    height: 20px;
    border: 2px solid #b28756;
    border-radius: 50%;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #b28756;
}